/*Cargamos las fuentes personalizadas*/
@font-face {
  font-family: Geologica;
  src: url(../fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

/*Reiniciamos los estilos por defecto del navegador*/
body { 
  margin: 0px;
  padding: 0px;
  font-family: 'Geologica';
}


.flexContainer {
  padding: 30px;
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}

.infoDatos {
  /*background-color: rgb(202, 240, 164);*/
}

.contenedorGraficos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.tituloGraficos {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

h3 {
  /*background-color: rgb(251, 179, 152);*/
  align-self: center;
}

.subTitulos {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}


svg {
  /*background-color: rgb(150, 244, 244);*/
  flex-basis: 50%;
  min-height: 300px;
}

canvas {
  /*background-color: rgb(228, 216, 216);*/
  flex-basis: 50%;
  max-width: 1000px;
  max-height: 300px;
}

.datosRedKw {
  /*Estilos que estaban en la etiqueta
  html 'text'*/
  fill: #000000;
  fill-opacity: null;
  font-family: 'Geologica'; /*Fuente cambiada a la importada*/
  font-size: 22px;
  stroke: #3f7f00;
  stroke-dasharray: null;
  stroke-linecap: null;
  stroke-linejoin: null;
  stroke-opacity: null;
  stroke-width: 0%;
  cursor: move;
  text-anchor: middle;
}

